@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AgathoLight';
    src: url('../public/font/Agatho-Light/Agatho_ LightCAPS.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'AgathoBold';
    src: url('../public/font/Agatho-Light/Agatho_ BoldCAPS.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'AgathoLightmin';
    src: url('../public/font/Agatho-Light/Agatho_Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }